# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Environment variables
.env
.env.*
!.env.example

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Python / pip
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.venv/
env/
ENV/
.python-version
be/Web/appsettings.Development.json

# pip logs
pip-log.txt
pip-delete-this-directory.txt

# Jupyter
.ipynb_checkpoints

# PyCharm
.idea/

# Node
fe/node_modules
npm-debug.log
yarn-error.log
fe/edumind/node_modules

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*


# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Oo]bj/
[Ll]og/

# Visual Studio 2015 cache/options directory
.vs/
# Uncomment if you have tasks that create the project's static files in wwwroot
**/wwwroot/lib/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NUNIT
*.VisualState.xml
TestResult.xml


# Miscellaneous
fe/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db

rag/data/