fastapi
uvicorn
python-dotenv
langchain
langchain-core
langchain-community
langchain-google-genai
langchain-postgres
psycopg2-binary
sqlalchemy
pypdf
sentence-transformers
google-generativeai
pymupdf 
pdfplumber
rapidocr-onnxruntime