fastapi
uvicorn
python-dotenv
langchain-core
langchain-community
langchain-google-genai
langchain-postgres
psycopg2-binary
sqlalchemy
celery
redis
Pillow
pymupdf
pdfplumber
requests
langchain-experimental
scikit-learn
numpy
tenacity
google-api-core
pydantic
langchain-classic